<h3><i class="fas fa-book-reader"></i>Lichigo</h3>
<div class="section">
    <p class="lead">Todo a tu alcance</p>
</div>
<div class="divider"></div>
<div class="section">
    <a href="/auth/google" class="btn red darken-1">
        <i class="fab fa-google left"></i> Ingresar con Google
    </a>
</div>