<h3>Añadir Producto</h3>
<div class="row">
    <form action="/products" method="POST" class="col s12">
        <div class="row">
            <div class="input-field">
                <input type="text" id="productName" name="productName">
                <label for="productName">Nombre del producto</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field">
                <h5>Descripcion del producto</h5>
                <textarea id="description" name="description"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="input-field">
                <input type="text" id="price" name="price">
                <label for="price">Valor Unitario</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field">
                <select id="unit" name="unit">
                    <option value="unidad" selected>Unidad</option>
                    <option value="g">Gramos</option>
                    <option value="kg">Kilogramos</option>
                </select>
                <label for="unit">Unidad</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field">
                <input type="number" id="availableUnits" name="availableUnits">
                <label for="availableUnits">Unidades disponibles</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field">
                <select id="category" name="category">
                    <option value="groceries" selected>Alimentos y bebidas</option>
                    <option value="farmacy">Farmacia</option>
                    <option value="fast-food">Comidas Rapidas</option>
                </select>
                <label for="category">Categoria</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field">
                <input type="text" id="image" name="image">
                <label for="image">Imagen URL</label>
            </div>
            <button type="button" onclick="upload()">Upload</button>
        </div>
        <div class="row">
            <input type="submit" value="Agregar Producto" class="btn">
            <a href="/dashboard" class="btn orange">Cancelar</a>
        </div>
    </form>
</div>

<script type="text/javascript">
    function upload() {
        console.log('hello');
        document.getElementById('image').setAttribute('value', 'hello');
    }
</script>